* {
    box-sizing: border-box;
    font-size: 50px;
    border: 8px solid white;
}

/* Mobile Design  */
#row1 {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #F5C6D6;
}

#row2 {
    display: inline-block;
    position: relative;
    width: 25%;
    background-color:  #EE2E84;
}

#row3 {
    display: inline;
    position: relative;
    width: 50%;
    background-color: #85CFD8;
}

#boxGreen {
    display: inline;
    position: relative;
    width: 75%; 
    background-color: #8DC63F;
}

#boxOrange {
    display: inline;
    position: relative;
    width: 25%;
    background-color: #E76E34;
}

